<html>
    <head>
        <title>{{title}}</title>
        <style>
            .post h3, .post h4 {
                display: inline-block;
            }
        </style>
    </head>

    <body>
        {{{body}}}
    </body>
</html>
