<a href="/posts">Home</a>

<h1>{{title}}</h1>

<div class="post-content">
  {{body}}
</div>

<div>
  <h2>Comments</h2>
  <ul id="comments">
    {{#comments}}
      <li>

      <div class="comment-head"<span class="author"> {{author}} </span> </div>

        /*
        <div class="comment"> {{body}} </div>
        */

      </li>
    {{/comments}}

    {{^comments}}
      No comments yet . . .
    {{/comments}}
  </ul>
</div>

<form method="post" action="/posts/{{_id}}/comment">
  <fieldset>
    <legend>Something to say?</legend>

    <div> <label for="author">Your name:</label> <input name="author" /> </div>

    <div> <label for="body">Your comment:</label> <input name="body" /> </div>

    <div class="button"> <input type="submit" value="Post Comment" /> </div>

  </fieldset>
</form>
