html {
  height: 100%;
}
body:before {
  content: '';
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.8);
  z-index: 100;
}
body {
  height: 100%;
  background-color: rgb(245, 245, 245);
  color: #222;
  padding: 0;
}
#container {
  height: 100%;
  margin: 0 auto;
  max-width: 72em;
  min-width: 32em;
}
header {
  padding: 30px 0 15px 0;
  margin: 0 -25px 0 -25px;
  box-shadow: 0 4px 2px -2px gray;
}
header h2 {
  text-align: center;
  padding-bottom: 0.25em;
}
header h1 {
  text-align: center;
}
body h1 {
  font: bold 38px/38px "Droid Sans", monospace;
  letter-spacing: 0.125em;
  text-shadow: 2px 1px 3px #2f4f4f;
  margin-bottom: 0.15em;
}
h1 a {
  color: #515151;
  border: 0;
}
h1 a:visited {
  color: #515151;
  border: 0;
}
body h2 {
  font: bold 26px/28px "Trebuchet MS", Georgia, Arial;
  letter-spacing: -1px;
  text-shadow: 3px 2px 3px #b8b8b8;
  color: #515151;
  margin: 0;
}
h2 a {
  color: #515151;
  border: 0;
}
h2 a:visited {
  color: #515151;
  border: 0;
}
body h3 {
  font: normal 20px/24px Ubuntu, Georgia, Arial;
  letter-spacing: -1px;
  text-shadow: 0 0 3px #D2D2D2;
  margin-top: 0.5em;
  color: #666;
  padding: .25em .2em .2em .2em;
}
h3 a {
  color: #515151;
  border: 0;
}
h3 a:visited {
  color: #515151;
  border: 0;
}
h4 {
  color: #515151;
  margin: 0;
  padding: 0.2em 0 0.1em 0;
}
body p {
  font: normal 14px/20px "Droid Sans", sans-serif;
  text-align: justify;
}
p a {
  color: #00B7FF;
}
.post {
  background-color: white;
  box-shadow: 3px 0px 2px #888, -3px 0px 2px #888;
  padding: 12px;
  margin: 15px;
}
.post p:first-letter {
  font-size: 1.8em;
}
.post p + p {
  text-indent: 2.5em;
}
.post p + p:first-letter {
  font-size: 1em;
}
.post .content {
  clear: both;
}
.post textarea {
  width: 100%;
  margin: 3px 0 7px 0;
  padding: 0;
}
.post hgroup {
  padding: 4px 2px 4px 2px;
}
.post hgroup h2 {
  margin-top: 5px;
  padding-top: 0.125em;
  display: inline-block;
}
.post hgroup h4 {
  float: right;
  display: inline-block;
  margin-right: -3px;
}
.post #title input {
  font: bold 26px/28px "Trebuchet MS", Georgia, Arial;
  letter-spacing: -1px;
  text-shadow: 3px 2px 3px #b8b8b8;
  color: #515151;
  margin: 0;
}
.post label {
  font: normal 20px/24px Ubuntu, Georgia, Arial;
  letter-spacing: -1px;
  text-shadow: 0 0 3px #D2D2D2;
  margin-top: 0.5em;
  color: #666;
  padding: .25em .2em .2em .2em;
}
#new-post #title {
  line-height: .75em;
  padding-bottom: 7px;
}
#new-post #title input {
  width: 100%;
  padding: 0;
}
#new-post #body {
  line-height: .75em;
  padding-bottom: 7px;
}
#new-post textarea {
  font: normal 14px/20px "Droid Sans", sans-serif;
  text-align: justify;
}
.button input {
  border: solid 1px rgb(133, 177, 222);
  background-color: rgba(237, 242, 247, 0.55);
  display: block;
  margin: 2px auto 2px auto;
  padding: 4px;
}
.syntaxhighlighter {
  padding: 1px !important;
}
